body {
    background-image: url('./img/image2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.heading {
    color: white;
}

.container {
    height: 570px;
    width: 450px;
    border-radius: 9px;
    margin-top: 75px;
    margin-left: 535px;
    background-color: rgba(148, 148, 148, 0.556);
    backdrop-filter: blur(3px);
    text-align: center;
    padding-top: 15px;
}

.container1 {
    height: 400px;
    width: 450px;
    border-radius: 9px;
    margin-top: 175px;
    margin-left: 535px;
    background-color: rgba(148, 148, 148, 0.556);
    backdrop-filter: blur(3px);
    text-align: center;
    padding-top: 15px;
}

.inputdiv {
    display: flex;
    height: 60px;

    padding-top: 10px;
    padding-left: 75px;
    box-sizing: border-box;
}

.inputfields {
    height: 40px;
    width: 250px;
    margin-left: 15px;
    padding-left: 7px;
    background-color: rgba(255, 255, 255, 0.186);
    border-bottom: 3px solid rgb(246, 246, 246);
    outline: none;
    color: white;
}

input {
    border: 0px;
}

input::placeholder {
    color: rgb(255, 255, 255);
}


.icons {
    font-size: 21px;
    padding-top: 8px;
    color: rgb(255, 255, 255);
}

.btn {
    height: 50px;
    font-size: 14px;
    width: 300px;
    border-radius: 9px;
    border: none;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(242, 242, 242, 0.433);
    color: white;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 30px rgb(134, 134, 134);
}

hr {
    width: 350px;
    margin-top: 30px;
}

.link {
    text-decoration: none;
    color: white;
}

a:hover {
    text-shadow: 0 0 15px white;
}

.signinopt {
    color: white;
}

.socialdiv {
    display: flex;
    justify-content: space-evenly;
}

.social {
    border: 1px solid rgb(195, 195, 195);
    border-radius: 25px;
    height: 50px;
    width: 50px;
    text-align: center;
}

.social-icons {
    font-size: 28px;
    color: white;
    padding-top: 10px;
}

.google:hover {
    background-image: linear-gradient(to bottom right, rgba(0, 255, 42, 1) 0%, rgba(247, 0, 0, 1) 50%, rgba(249, 246, 0, 1) 100%);
    cursor: pointer;
}

.facebook:hover {
    background-color: rgb(0, 0, 149);
    cursor: pointer;
}

.instagram:hover {
    background-image: linear-gradient(to bottom right, rgba(152, 0, 171, 1) 0%, rgba(211, 0, 247, 1) 30%, rgba(249, 0, 0, 1) 47%, rgba(241, 255, 0, 1) 100%);
    cursor: pointer;
}

#toggle {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}

#toggle1 {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}

#togglebtn {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}


.loginPopup {
    width: 400px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.loginPopup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.loginPopup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.open-loginPopup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.emailPopup {
    width: 400px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: justify;
    padding: 0 30px 30px;
    color: red;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.emailPopup li {
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.emailPopup h2 {
    color: black;
    font-size: 30px;
    margin: 30px 0 10px;

}

.emailPopup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: red;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.open-emailPopup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}


.passwordPopup {
    width: 400px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: justify;
    padding: 0 30px 30px;
    color: red;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.passwordPopup li {
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.passwordPopup h2 {
    color: black;
    font-size: 30px;
    margin: 30px 0 10px;
}

.passwordPopup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: red;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.open-passwordPopup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.cPasswordPopup {
    width: 400px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: justify;
    padding: 0 30px 30px;
    color: red;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.cPasswordPopup h2 {
    color: red;
    font-size: 30px;
    margin: 30px 0 10px;
}


.cPasswordPopup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: red;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.open-cPasswordPopup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}